.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #212529;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.timer-container {
  width: 1000px;
}

.progess-container {
  width: 100%;
  height: 1px;
  margin-bottom: 5px;
  overflow: visible;
  display: flex;
  background-color: grey;
}

.runner {
  display: inline-block;
  margin-top: -40px;
  margin-right: -25px;
}

.timer-normal {
  font-size: calc(240px + 2vmin);
  color: #0069d9;
}

.timer-warn {
  font-size: calc(240px + 2vmin);
  color: #e0a800;
}

.timer-out {
  font-size: calc(240px + 2vmin);
  color: #c82333;
}

.handle {
  color: white;
  font-size: calc(40px + 2vmin);
}

.button {
  float: left;
  margin: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
